#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#dishes {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 32px;
    padding: 0 16px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}

.dish-heart {
    position: absolute;
    background-color: #e9a209;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #ffffea;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish-description {
    color: #434343;
    text-align: center;
}

.dish-rate i {
    color: #e9a209;
}

.dish-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1170px) {
    #dishes {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    #dishes {
        grid-template-columns: 1fr; 
        justify-content: center;
        
    }
}

#menu .section-subtitle {
    text-align: center;
}

#testmonial_chef {
    width: 500px;
}